@{
	ViewBag.Title="Index";
	Layout="~/Views/Admin/Shared/_AdminLayout.cshtml";
}
@Html.TextBox("search")
<button id="btn">
	btn</button>
@section script{
	<script type="text/javascript">
		$(document).ready(function() {
			$("#search").autocomplete({
				appendTo: "body",source: "/Admin/Position/Search",autoFocus: true,minLength: 0,comboboxstyle: true 
			});
		});
	</script>
}
