@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}
@{
	Dictionary<string, string> collection = new Dictionary<string, string>();
	collection.Add("title", "Menu Manager");
	Html.RenderPartial("_TitleBar", collection);
	}
<div class="container">
	<div class="container_12">
		<div class="grid_12">
		</div>
	</div>
</div>
