<div class="grid_overlay">
	<div class="container_24">
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
		<div class="grid_1 cell">
			&nbsp;</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$(".menu-bar ul:first").show();
	});
	$(document).ready(function () {
		var cnt=$(".container");
		var overlay=$(".grid_overlay");
		var pos=$(cnt).offset();
		overlay.css("top",pos.top);
	});
</script>
